// VALUES LIST
.app__header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 25px;

}

.main-title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 9px;
    text-transform: uppercase;
}

.main-nav {
    margin-top: 6px;
    overflow: hidden;
    border: 1px solid #0b1f35;
    border-bottom: none;
    display: flex;
    border-radius: 6px 6px 0 0;
}

.nav-item {
    padding: 13px 45px;

    transition: 0.1s;
    font-weight: 500;
    font-size: 14px;
}

.nav-item:hover {
    background: rgba(11, 31, 53, .15);
    transition: 0.1s;
    color: #0b1f35;
}

.nav-item:first-child {}

.nav-item.router-link-active {
    background: #0b1f35;
    transition: 0.1s;
    color: #fff;
    border-right: none;
}

.currencies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;
}

.currency {
    min-height: 65px;
    flex: 1 1 auto;
    padding: 10px 15px;
    width: 17%;
    margin: 0 5px;
    margin-bottom: 15px;
    background: rgba(11, 31, 53, .07);
    color: #0b1f35;
    display: flex;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s;
    font-size: 15px;
}

.currency:hover {
    background: rgba(11, 31, 53, .15);
    transition: 0.1s;
}

.currency_name {
    font-size: 14px;
    font-weight: 500;
}

.currencies__search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 140px;
    width: 100%;
    max-width: 398px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 24px 96px rgb(0 0 0 / 8%);

    input {
        padding: 15px 17px;
        font-size: 15px;
        font-weight: 500;
        width: 100%;
        max-width: 500px;
        border-radius: 6px;
        color: #0b1f35;
        background: #fff;
        border: 2px solid #6d7986;

    }

    input::placeholder {
        font-size: 15px;
        color: #0b1f35;
        font-weight: 500;
    }

    input:focus {
        border: 2px solid #0b1f35;

    }
}

.currency__show {
    max-width: 603px;
    width: 100%;
    height: 140px;
    background: #fff;
    border-radius: 12px;
    position: relative;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 9px -3px 14px 1px rgb(0 0 0 / 8%);
}


.currency__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 10px;
}

.currency__show-item {
    display: flex;
    width: 100%;

    flex-direction: column;
}

.currency__show-item_course {
    align-items: center;
}

.currency__show_mark {
    color: #6d7986;
    font-size: 14px;
    margin-right: 5px;
}

.currency__show-item-info {
    margin-bottom: 10px;
}

.currency__show-item-info:last-child {
    margin-bottom: 0;
}



.currency__show:after {
    content: '';
    display: block;
    position: absolute;
    border-right: 1px solid #f5f8fb;
    border-top: 1px solid #f5f8fb;
    left: calc(50% - 17px);
    bottom: -18px;
    width: 35px;
    height: 35px;
    background: #f5f8fb;
    ;

    transform: rotate(45deg);
}

.currency__show-item_course-block {
    display: flex;
    font-size: 15px;
    font-weight: 500;

    span {
        margin-right: 6px;
    }
}

.currency__show_difference.down {
    color: rgb(189, 10, 10);
}

.currency__show_difference.up {
    color: rgb(14, 167, 14);
}

.currency__show-item__arrow {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transform: rotate(90deg);
    padding: 6px;
    background: #0b1f35;
    border-radius: 50%;
    margin-top: 13px;
    margin-bottom: 13px;

    svg {
        fill: #fff;
    }

    transition: 0.3s;

}

.currency__show-item__arrow.active {
    transform: rotate(-90deg);
    transition: 0.3s;

}

.currency__show-item__arrow:hover {
    box-shadow: inset 0px 0px 4px 2px rgb(145, 145, 145);
    user-select: none;
}

.lastuppdate {
    display: flex;
}

// No result block
.currencies__search-no-result {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;

    span {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    svg {
        width: 100px;
        height: 100px;

    }
}

.currencies__search__info {
    margin-top: 30px;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
}

// CONVERTER
.converter {
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.converter_item {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 14px 11px rgb(0 0 0 / 8%);
    padding: 25px;
    select {
        max-width: 400px;
        padding: 10px 0;
        font-size: 20px;
        font-weight: 500;
        border: none;
        margin-bottom: 15px;
    }

    option {

        font-size: 16px;
    }
}


.convertor__input {
    input {
        font-size: 23px;
        width: 100%;
        border: 2px solid #0b1f35;
        border-radius: 6px;
        margin-top: 10px;
        padding: 15px 15px;
    }
    input[disabled]{
        background: #6d79862c;
    }

}


.convert_from {}

.convert_to {}

.change__convert {
    cursor: pointer;
    user-select: none;
    position: relative;
    width: 55px;
    height: 55px;
    background: #0b1f35;
    border-radius: 50%;
}

.convert__left-arrow {
    position: absolute;
    left: 2px;
    top: 11px;
    width: 33px;
    height: 33px;
    transform: rotate(-180deg);

    svg {
        fill: #fff;
    }
}

.change__convert:hover{
    box-shadow: 0px 1px 9px 3px rgb(173 173 173);

}

.convert__right-arrow {
    position: absolute;
    right: 2px;
    top: 11px;
    width: 33px;
    height: 33px;

    svg {
        fill: #fff;
    }
}